#############################################################
#############################################################
##
##  Excludes for config files with potentially sensitive info
##
#############################################################
#############################################################
# Environment files for podman compose
*.env

#############################################################
#############################################################
##
##  Misc. temporary files
##
#############################################################
#############################################################
.travis.yml
*.swp
